[Unit]
Description=rollback LVM snapshot
Requires=local-fs.target
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs.target

[Install]
WantedBy=rollback-snapshot.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/lvconvert --merge --yes /dev/mapper/vg-snap ; /usr/sbin/reboot
